*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f1f1f1;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 100vh;
}

section form{
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section form div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

section form div label{
    font-size: 14px;
    font-weight: 600;
}

section form div label span{
    color: red;
    font-size: 11px;
    font-weight: 400;
}

section form div input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section form div input:focus{
    outline: none;
    border-color: #007bff;
}

section form button{
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

section form button:hover{
    background-color: #0056b3;
}